@font-face{
    font-family: "Orbitron";
    src: url(../fonts/Orbitron.ttf);
}
::selection{
    background: #2f4f4f;
    color: #ffffff;
}
body{
    background-attachment: fixed;
    background-image: url(../images/wallpaper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    color: #000000;
    font-family: "Orbitron";
}
img{
    height: 64px;
    width: 64px;
}
canvas{
    display: block;
    margin: 0 auto;
}
#header{
    padding: 16px;
}
#header h1, #header h3, #header h4, #header h6{
    color: #ffffff;
    font-family: "Orbitron";
    text-align: center;
}
#titleCode{
    transition: ease-in-out .6s;
}
#gameStart{
    background: #ee7600;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    padding: 16px;
    width: 90%;
}
#gameOver{
    background: #ee7600;
    border-radius: 50px;
    display: none;
    margin: 0 auto;
    margin-top: 16px;
    padding: 16px;
    width: 90%;
}
#gameOver h3, #gameOver h4{
    font-family: "Orbitron";
}
#gameOver button{
    display: table;
    margin: 0 auto;
}
#info{
    background: #cd5c5c;
    border-radius: 50px;
    display: none;
    margin: 0 auto;
    padding: 8px;
    width: 75%;
}
#bar{
    background: #c5e3bf;
    display: block;
    margin-top: 20px;
    padding: 16px;
}
#testMenu{
    background: #cdb5cd;
    display: none;
    padding: 16px;
}
#testMenu h2, #testMenu h3{
    font-family: "Orbitron";
}
#description{
    background: #99ffff;
    padding: 16px;
}
#description h2, #description h3{
    font-family: "Orbitron";
}
#footer{
    background: #ffa500;
    bottom: 0;
    color: #000000;
    padding: 16px;
    width: 100%;
}
.code{
    cursor: url(../images/cursor.png), auto;
}
.hiddenCode{
    color: transparent;
    cursor: url(../images/cursor.png), auto;
}